<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Params</title>
    </head>

    <body>
    <iframe name="nada" id="nada" style="display: none;"></iframe>
    <form action="http://locahost:8383" method="POST" target="nada">
      <div>
        <label for="frequencia">Frequencia</label>
        <input type="number" name="frequencia" id="frequencia" value="">
      </div>
      <div>
        <label for="dutyCycle">Duty Cycle</label>
        <input type="number" name="dutyCycle" id="dutyCycle" value="">
      </div>
      <div>
        <label for="upTime">Up Time</label>
        <input type="number" name="upTime" id="upTime" value="">
      </div>
      <div>
        <label for="wait">Wait</label>
        <input type="number" name="wait" id="wait" value="">
      </div>
      <div>
        <button>Enviar</button>
      </div>
    </form>
</html>